<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
</head>
<body>
    <div class="container">
        <div class="main-container">
            <h1>ERROR:</h1>
            <p>The page you are looking for could not be found.</p>
            <p class="error-message">{{ errorMessage }}</p>
            <p class="error-code">{{ errorNumber }}</p>
            <p>Please check the URL or go back to the <a href="/">homepage</a>.</p>
        </div>
    </div>
</body>
</html>
